@font-face {
  font-family: "Gidole";
  src: ("../gidole/gidole-regular.otf"), format ("opentype");
}

.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}
.titleText {
  color: #fff;
  font-family: "Times", cursive;
  font-size: 100px;
  font-weight: normal;
  line-height: 60px;
  margin: -200px 0 150px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #000;
  margin: -200px 0 154px;
  text-align: center;
}
/* #pieChart {    
	position:absolute;
	top:10px;
	left:10px;
	width:400px;
	height: 400px; 
}


#lineChart {    
	position:absolute;
	top:10px;
	left:410px;
	height: 150px;
}

#barChart {
	position:absolute;
	top:160px;
	left:410px;
	height: 250px;
} */

.slice {
  font-size: 12pt;
  font-family: Verdana;
  fill: white; //svg specific - instead of color
  font-weight: bold;
}

/*for line chart*/
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; //The shape-rendering property is an SVG attribute, used here to make sure our axis and its tick mark lines are pixel-perfect.
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 3px;
}

.dot {
  /*fill: white;*/
  /*stroke: steelblue;*/
  stroke-width: 1.5px;
}

.axis text {
  font-family: Verdana;
  font-size: 11px;
}

.title {
  font-family: Verdana;
  font-size: 15px;
}

.xAxis {
  font-family: verdana;
  font-size: 11px;
  fill: black;
}

.yAxis {
  font-family: verdana;
  font-size: 11px;
  fill: white;
}

table {
  border-collapse: collapse;
  border: 0px;
  font-family: Verdana;
  color: #5c5558;
  font-size: 12px;
  text-align: right;
}

td {
  padding-left: 10px;
}

#lineChartTitle1 {
  font-family: Verdana;
  font-size: 14px;
  fill: lightgrey;
  font-weight: bold;
  text-anchor: middle;
}

#lineChartTitle2 {
  font-family: Verdana;
  font-size: 72px;
  fill: grey;
  text-anchor: middle;
  font-weight: bold;
  /*font-style: italic;*/
}
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#states .active {
  display: none;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 0.5px;
}

.county-boundary:hover,
.state:hover {
  fill: orange;
}
.background-center-container {
  fill: none;
  background: white;
}
.hero-body{
  height: 100vh;
  width: 100vh;
}
.display{
  display: flex;
  height: 100vh;
  width: 100vh;
  flex-direction: row;
}
.graphics {
  order: 1;
  display: flex;
  flex-direction: column;
  border:1px solid black;
  flex-grow: 2;
  display: flex;
}
.sidebar{
  flex-grow: 1;
  order: 2;
  padding: 5vh;
}
.chart-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  order: 2;
  width: 100%;
}

.map-container {
  order: 1;
  width: 100%;
  height: 100%;
  border:1px solid black;
  display: flex;
}
.mapChart {
  flex-grow: 1;
  border:1px solid black;
}

.barChart {
  flex-grow: 1;
  order: 2;
  border:1px solid black;
}
/* .barChart:active {
  background: #ffab00;
  order: 0;
} */


.lineChart {
  flex-grow: 1;
  order: 3;
  border:1px solid black;
}

.pieChart {
  flex-grow: 1;
  order: 1;
  border:1px solid black;
}
.card{
  padding: 2vh;
  width: 45vw;
}
