<!-- templates/volunteers.html -->
{% extends 'base.html' %}
{% block title %}Dashboard -- Volunteers{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
  <style>
    form {
      margin: 35px;
    }
    h1 {
      font-size: 100px;
      color: black;
    }
    h2 {
      font-size: 48px;
      text-align: left;
    }
    p { 
      font-size: 36px;
    }
    .columns {
      width: 100%;
    }
    .column {
      border: solid;
    }
  </style>
    <!-- Body of home page. -->
    <section class="section">
        <!-- Table to display events. -->
        <h1>(1) <strong>Select Your Recipients</strong></h1>
        <div class = "columns">
          <div class = "column">
              <h2>I want to get in touch with everyone who ... </h2>
              <form method="get">
                  <p>Has worked at at least {{ filter.form.num_events }} events</p>
                  <p>Has worked for at least {{ filter.form.num_hours }} hours</p>
                  <p>Joined before the year {{ filter.form.year_joined__lte }}</p>
                  <p>Joined after the year {{ filter.form.year_joined__gte }}</p>
                  <p>Was born before the year {{ filter.form.birthday__lte }}</p>
                  <p>Was born after the year {{ filter.form.birthday__gte }}</p>
                  <p>Identifies as {{filter.form.gender}} gender</p>
                  <p>Whose name is {{filter.form.name}}</p>
                  <button class = 'button is-success is-large' type="submit">Filter</button>
                </form>
          </div>
          <div class = "column">
            <h2 style = 'text-align: center;'>Filter Results:</h2>
              {% for user in filter.qs %}
                <p>{{ user.name }}</p>
              {% endfor %}
          </div>
        </div>
        <h1>(2) <strong>Compose Your Message</strong></h1>
        <form method = "post"> 
            {% csrf_token %}
            {{form.as_p}}
            <button class = 'button is-link is-large' type = "submit">Send Email</button>
        </form>
      <!-- Footer of home page. -->
      <div class="hero-foot is-light has-text-centered">
        <a>
          March 2019 <br>
          Developed by Eric Lin, Julian Lee, and Isaac Robinson
        </a>
      </div>
      </div>
    </section>
	<!-- If user not logged in. -->
	{% else %}
		<section class="hero is-info is-bold is-fullheight">
			<div class="hero-body">
			    <div class="container has-text-centered">
            <h1 class="title">
					  Volunteer Dashboard
					</h1>
					<br>
					<h2 class="subtitle">
						You are not logged in. <br>
						<a href="{% url 'login' %}">login</a> |
						<a href="{% url 'signup' %}">signup</a>
					</h2>
				</div>
			</div>
		</section>
	{% endif %}

{% endblock %}