<!-- templates/events_edit.html -->
{% extends 'base.html' %}

{% block title %}Dashboard -- Edit Event{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
  
    <!-- Body of home page. -->
    <section class="section">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
            <h1 class="title">
              Hi {{ user.username }}!
            </h1>
            <h2 class="subtitle">
              Edit a event here. If you instead want to create a new event, please go back to the events overview and click on the new event button.
            </h2>
          </div>
          
          <form method="post">
            {% csrf_token %}
            <div class="field is-grouped is-grouped-centered">
              <table border="1">
                {{ form }}
              </table>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <button type="submit" class="button is-primary">Edit event</button>
              </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <input type="submit" value="Delete event" class="button is-danger" name="delete">
              </div>
            </div>
          </form>

          <div class="field is-grouped-centered">
            <a href="{% url 'events' %}"> Back to Events Page </a>
          </div>
        </div>
      </div>
      <!-- Footer of home page. -->
      <div class="hero-foot is-light has-text-centered">
        <a>
          March 2019 <br>
          Developed by Eric Lin, Julian Lee, and Isaac Robinson
        </a>
      </div>
    </section>
	<!-- If user not logged in. -->
	{% else %}
		<section class="hero is-info is-bold is-fullheight">
			<div class="hero-body">
			    <div class="container has-text-centered">
            <h1 class="title">
					  Volunteer Dashboard
					</h1>
					<br>
					<h2 class="subtitle">
						You are not logged in. <br>
						<a href="{% url 'login' %}">login</a> |
						<a href="{% url 'signup' %}">signup</a>
					</h2>
				</div>
			</div>
		</section>
	{% endif %}

{% endblock %}