<!-- templates/events.html -->
{% extends 'base.html' %}

{% block title %}Dashboard -- Events{% endblock %}

{% block content %}
	{% if user.is_authenticated %}

    <!-- Body of home page. -->
    <style> 
      h1 {
        margin: 10px;
        padding: 10px; 
        font-size: 48px; 
        text-align: center;
        font-weight: 900;
      }
      h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 400;
      }
    </style>
    <section class="hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1>
            Hi, {{ user.username }}!
          </h1>
          <h2>
            This is the events page. View, add, and edit events.
          </h2>
        </div>
        <!-- Add new event -->
        <div class="container has-text-centered">
            <a href="{% url 'add_event' %}">
              <br>
              <button class="button is-primary">
                New event
              </button>
            </a>
        </div>
        <!-- Table to display events. -->
        <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
            <table class="table">
              <!-- Column names at the top. -->
              <thead>
                <tr>
                  <th> Name </th>
                  <th> Description </th>
                  <th> Location </th>
                  <th> Date </th>
                  <th> Volunteers </th>
                  <th> Cost </th>
                </tr>
              </thead>
              <!-- Column names at the bottom. -->
              <tfoot>
                <tr>
                  <th> Name </th>
                  <th> Description </th>
                  <th> Location </th>
                  <th> Date </th>
                  <th> Volunteers </th>
                  <th> Cost </th>
                </tr>
              </tfoot>
              <!-- Events data. -->
              <tbody>
                {% for event in events %}
                  <tr>
                    <td><a href="{% url 'edit_event' %}?id={{event.id}}"> {{event.name}} </a></td>
                    <td> {{event.description}} </td>
                    <td> {{event.address}} </td>
                    <td> {{event.time}} </td>
                    <td> 
                      {% for v in event.volunteers %} 
                        v.name,
                      {% endfor %}
                    </td>
                    <td> {{event.cost}} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Footer of home page. -->
      <div class="hero-foot is-light has-text-centered">
        <a>
          March 2019 <br>
          Developed by Eric Lin, Julian Lee, and Isaac Robinson
        </a>
      </div>
    </section>
	<!-- If user not logged in. -->
	{% else %}
		<section class="hero is-info is-bold is-fullheight">
			<div class="hero-body">
			    <div class="container has-text-centered">
            <h1 class="title">
					  Volunteer Dashboard
					</h1>
					<br>
					<h2 class="subtitle">
						You are not logged in. <br>
						<a href="{% url 'login' %}">login</a> |
						<a href="{% url 'signup' %}">signup</a>
					</h2>
				</div>
			</div>
		</section>
	{% endif %}

{% endblock %}