<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Dashboard -- Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <!-- Navbar -->
    <section class="hero is-info is-bold is-large">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a href="{% url 'home' %}" class="navbar-item is-size-3">
                {% load static %}
                <img src ="{% static 'images/icon.png' %}" alt="icon"/>
                Volunteer Dashboard
              </a>
              <!-- Hamburger icon for mobile -->
              <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <!-- Right side of navbar -->
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active" href="{% url 'home' %}">
                  Home
                </a>
                <a class="navbar-item" href="{% url 'events' %}">
                  Events
                </a>
                <a class="navbar-item" href="{% url 'volunteers' %}">
                  Volunteers
                </a>
                <span class="navbar-item">
                  <a class="button is-primary is-inverted">
                    <span class="icon">
                      <i class="fas fa-user"></i>
                    </span>
                    <span>Profile</span>
                  </a>
                </span>
                <a class="navbar-item" href="{% url 'logout' %}">
                  Logout
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!-- Body of home page. -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <svg></svg>
        </div>
      </div>
      <!-- Footer of home page. -->
      <div class="hero-foot has-text-centered">
        <a>
          March 2019 <br>
          Developed by Eric Lin, Julian Lee, and Isaac Robinson
        </a>
      </div>
      <script src="https://d3js.org/d3.v5.min.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
      <style type = "text/css">
.background {
  fill: white
}
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
  .focus circle {
  fill: none;
  stroke: steelblue;
}
</style>
      <script>
          // 2. Use the margin convention practice 
          var margin = {top: 100, right: 400, bottom: 100, left: 400}
            , width = window.innerWidth - margin.left - margin.right // Use the window's width 
            , height = window.innerHeight - margin.top - margin.bottom; // Use the window's height
          
          // The number of datapoints
          var n = 21;
          
          // 5. X scale will use the index of our data
          var xScale = d3.scaleLinear()
              .domain([0, n-1]) // input
              .range([0, width]); // output
          
          // 6. Y scale will use the randomly generate number 
          var yScale = d3.scaleLinear()
              .domain([0, 1]) // input 
              .range([height, 0]); // output 
          
          // 7. d3's line generator
          var line = d3.line()
              .x(function(d, i) { return xScale(i); }) // set the x values for the line generator
              .y(function(d) { return yScale(d.y); }) // set the y values for the line generator 
              .curve(d3.curveMonotoneX) // apply smoothing to the line
          
          // 8. An array of objects of length N. Each object has key -> value pair, the key being "y" and the value is a random number
          var dataset = d3.range(n).map(function(d) { return {"y": d3.randomUniform(1)() } })
          
          // 1. Add the SVG to the page and employ #2
          var svg = d3.select('svg')//d3.select("body").select("hero is-info is-bold is-large").append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
          
          // 3. Call the x axis in a group tag
          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(xScale)); // Create an axis component with d3.axisBottom
          
          // 4. Call the y axis in a group tag
          svg.append("g")
              .attr("class", "y axis")
              .call(d3.axisLeft(yScale)); // Create an axis component with d3.axisLeft
          
          // 9. Append the path, bind the data, and call the line generator 
          svg.append("path")
              .datum(dataset) // 10. Binds data to the line 
              .attr("class", "line") // Assign a class for styling 
              .attr("d", line); // 11. Calls the line generator 
          
          // 12. Appends a circle for each datapoint 
          svg.selectAll(".dot")
              .data(dataset)
            .enter().append("circle") // Uses the enter().append() method
              .attr("class", "dot") // Assign a class for styling
              .attr("cx", function(d, i) { return xScale(i) })
              .attr("cy", function(d) { return yScale(d.y) })
              .attr("r", 5)
                .on("mouseover", function(a, b, c) { 
                  console.log(a) 
                  this.attr('class', 'focus')
              })
                .on("mouseout", function() {  })</script>
                
    </section>

	<!-- If user not logged in. -->
	{% else %}
		<section class="hero is-info is-bold is-fullheight">
			<div class="hero-body">
			    <div class="container has-text-centered">
            <h1 class="title">
            {% load static %}
            <img src ="{% static 'images/icon.png' %}" alt="icon"/>
					  Volunteer Dashboard
					</h1>
					<br>
					<h2 class="subtitle">
						You are not logged in. <br>
						<a href="{% url 'login' %}">login</a> |
						<a href="{% url 'signup' %}">signup</a>
					</h2>
				</div>
      </div>
		</section>
	{% endif %}

{% endblock %}