<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Dashboard -- Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  {% load static %}

  <style>
    /* .sidebar {
      float: right; 
      clear: right;
      width: 30%
    } */
    h2 {
      text-align: center;
      font-size: 36px;
      font-weight: 700;
    }
    .card {
      border-style: solid; 
      margin: 5px;
      width: 49vw;
      font-size: 24px;
      border-width: 2px;
      margin-bottom: 10px;
      text-align: center;
    }
    h1 {
      margin: 10px;
      padding: 10px; 
      font-size: 48px; 
      text-align: center;
      font-weight: 700;
      background: none;
    }

    .card-container {
      display: flex;
      justify-content: center;
    }
    hr { 
      padding: 0;
      margin: 0;
      background-color: black;
    }

    .container {
      text-align: center;
    }
    
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <section>
      <!-- Body of home page. -->
            <h1 style = "padding-top: 70px;">
              WELCOME, {{ user.username }}!
            </h1>
        <div class = "display">
            <h2>New Volunteers</h2>
            <hr>
            <div class = "card-container">
            {% for volunteer in volunteers %}
              <div class="card">
                <a href="{% url 'edit_volunteer' %}?id={{volunteer.id}}" style = "font-weight: 600; font-size: 32px;"> 
                  {{volunteer.name}} 
                </a>
                <p>Registered {{volunteer.date_joined}}</p>
                <p>Follow Up Countdown: <h3 style = "font-weight: 600; color: hsl(217, 71%, 53%)" id = "{{volunteer.name}}"></h3></p> 
                <a class = "button is-success is-rounded is-focused is-large" href="{% url 'emails:quicksend' volunteer.email volunteer.name %}">Quick Follow Up</a>
                <a class = "button is-link is-rounded is-focused is-large" href="{% url 'emails:customsend' volunteer.email volunteer.name %}">Custom Follow Up</a>
                <script>
                // Update the count down every 1 second
                var x = setInterval(
                  function() {
                    // Set the date we're counting down to
                    var selected_year = {{volunteer.date_joined.year}};
                    var selected_month = {{ volunteer.date_joined.month}} + 2;
                    var selected_day = {{ volunteer.date_joined.day}} + 1;
                    var selected_hours = {{volunteer.date_joined.hour}};
                    var selected_minutes = {{volunteer.date_joined.minute}};
                    var selected_seconds = {{volunteer.date_joined.second}};
                    var countDownDate = new Date(selected_year, selected_month, selected_day, selected_hours, selected_minutes, selected_seconds).getTime();
                    // Get todays date and time
                    var now = new Date().getTime();
      
                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;
      
                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    // Display the result in the element with id="demo"
                    document.getElementById("{{volunteer.name}}").innerHTML = hours + " hours, "
                    + minutes + " minutes, " + seconds + " seconds";
      
                    // If the count down is finished, write some text 
                    if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("{{volunteer.name}}").innerHTML = "EXPIRED";
                    }
                  }, 1000
                );
                </script>
              </div>
            {% endfor %}
            </div>
            <h2>Upcoming Events</h2>
            <hr>
            <div class = "card-container">
            {% for event in events %}
              <div class = "card">
              <a href="{% url 'edit_event' %}?id={{event.id}}"> <strong> {{event.name}} </strong> </a>
              <p>Registered Volunteers: {% for v in event.volunteers.all%} <a href="{% url 'edit_volunteer' %}?id={{v.id}}">{{v.name}}, </a>{% endfor %}</p>
              <p>{{event.address}}</p>
              <p>{{event.time}}</p>
              </div>
            {% endfor %}
          </div>
        </div>
            <div style = "margin: 0; padding: 0;" class = "chart-container">
                <div class="pieChart" id ="pieChart" onclick="test('pieChart')">
                  <canvas id="myPieChart"></canvas>
                </div>

                <div class="barChart" id="barChart" onclick="test('barChart')">
                  <canvas id = "myBarChart"></canvas>
                </div>  

                <!-- <script>
                  function test(i){
                    document.getElementById('lineChart').style.order=1;
                    document.getElementById('barChart').style.order=2;
                    document.getElementById('pieChart').style.order=3;
                    document.getElementById(i).style.order=0;
                  }
                </script> -->

                <div class="lineChart" id="lineChart" onclick="test('lineChart')">
                  <canvas id = "myLineChart"></canvas>
                </div>
                
                <!-- <div class = "mapChart" id='map' style='width: 100%; height: 100%;'></div> -->
   
            <div class = "chart-container">
            
                <div class = "mapChart" id='map'></div>
            </div>
            <!-- <div class ="map-container"> -->
                <!-- <iframe
                frameborder="0" style="border:0" class = "geoMap"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDSJYjr4P6YwDtlHmuQJTWcsWg9prFynf4
                  &q=Space+Needle,Seattle+WA&q=12.927923,77.627108" allowfullscreen>
              </iframe> -->
                <!-- <div class ="mapChart"> -->
                <!-- <div id='map' style='width: 100%; height: 100%;'></div> -->
            <!-- </div> -->
          </div>
      <!-- </div> -->
      <!-- Footer of home page. -->
        <!-- <div class="hero-foot has-text-centered">
          <a>
            March 2019 <br>
            Developed by Eric Lin, Julian Lee, and Isaac Robinson
          </a>
        </div>  -->
      <!--<script src="https://d3js.org/d3.v5.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/topojson.v3.min.js"></script> -->
       <script src="{% static 'js/script2.js' %}"> </script>
      <script src="{% static 'js/lineChart.js' %}"> </script>     
      <script src="{% static 'js/pieChart.js' %}"> </script>    
      <script src="{% static 'js/barChart.js' %}"> </script>    
      <script src="{% static 'js/map.js' %}"> </script>   
      <script type="text/javascript" src="http://d3js.org/topojson.v3.min.js"></script>
      <script src="{% static 'js/script2.js' %}"> </script>       
    </section>
	<!-- If user not logged in. -->
	{% else %}
		<section class="hero is-info is-bold is-fullheight">
			<div class="hero-body">
			   <div class="container has-text-centered">
          {% load static %}
          <img src ="{% static 'images/icon.png' %}" alt="icon"/>
          <h1 class="title">
					  Volunteer Dashboard
					</h1>
					<br>
					<h2 class="subtitle">
						You are nowhy does strong change colort logged in. <br>
						<a href="{% url 'login' %}">login</a> |
						<a href="{% url 'signup' %}">signup</a>
					</h2>
				</div>
      </div>
		</section>
	{% endif %}
{% endblock %}